@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
  font-family: Arial;
  font-size: 16px;
  background: #aaa6ad;
}

.sidebar {
  position: fixed;
  width: 20%;
  height: 100vh;
  background: #2f2f30;
  font-size: 0.65em;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}

.nav ul {
  list-style: none;

  li {
    position: relative;
    margin: 3.2em 0;

    a {
      line-height: 5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: rgba(#fff, 0.35);
      display: block;
      transition: all ease-out 300ms;
    }

    &.active a {
      color: white;
    }

    &:not(.active)::after {
      opacity: 0.2;
    }

    &:not(.active):hover a {
      color: rgba(#fff, 0.75);
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: black;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #5e42a6, #b74e91);
    }
  }
}
.contactview {
  position: relative;
  width: 79%;
  float: right;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.clientview {
  position: relative;
  width: 79%;
  float: right;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.CCM {
  position: relative;
  width: 75%;
  float: right;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  p {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
  }
}

h1,
h2 {
  color: #333;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

form {
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
.button-group {
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-secondary {
  background-color: #ccc;
  color: #333;
}

.btn-primary,
.btn-warning {
  color: #fff;
  background-color: #800080;
  border-color: #800080;
}

.btn:hover {
  opacity: 0.8;
}
